asgiref==3.4.1
breezy==3.0.2
certifi==2019.11.28
chardet==3.0.4
configobj==5.0.6
Cython==0.29.24
dbus-python==1.2.16
Django==3.2.7
django-cors-headers==3.8.0
django-rest-framework==0.1.0
djangorestframework==3.12.4
dulwich==0.19.15
fastimport==0.9.8
idna==2.8
Pygments==2.3.1
PyGObject==3.36.0
python-apt
pytz==2021.1
PyYAML==5.3.1
requests==2.22.0
requests-unixsocket==0.2.0
six==1.14.0
sqlparse==0.4.2
urllib3==1.25.8
